@page "/forgot-password"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error!</h4>
            <p>Forgot password page not implemented yet.</p>
            <hr>
            <p class="mb-0">
                <a href="/" class="btn btn-primary">Go Home</a>
            </p>
        </div>
    </div>
</div>
